table {
  width: 100%;
  margin-top: 3% !important;
  position: relative;
  right: 0;
}
::ng-deep .error-style {
  background-color: rgb(236, 17, 17);
  color: #fff;
}

::ng-deep .mat-simple-snackbar-action {
  background-color: rgb(255, 255, 255);
}

::ng-deep .success-style {
  background-color: green;
  color: #fff;
}
.mat-icon{
  cursor: pointer;
}
.no-user{
  text-align: center;
  margin-top: 20%;
}
