<mat-card>
  <mat-card-title>Login</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form" (ngSubmit)="submit()">
      <mat-label>
        <mat-form-field>
          <input
            type="text"
            matInput
            placeholder="Email"
            formControlName="email"
            autocomplete="off"
          />
          <mat-error *ngIf="hasError(form, 'email', 'required')"
            >{{ error.requiredError.email }}
          </mat-error>

          <mat-error *ngIf="hasError(form, 'email', 'pattern')"
            >{{ error.patternError.email }}
          </mat-error>
        </mat-form-field>
        
      </mat-label>
      <mat-label>
        <mat-form-field>
          <input
            [type]="hide ? 'password' : 'text'"
            matInput
            placeholder="Password"
            formControlName="password"
            autocomplete="off"
          />
          <mat-icon
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
            >{{ hide ? 'visibility_off' : 'visibility' }}
          </mat-icon>

          <mat-error *ngIf="hasError(form, 'password', 'required')">
            {{ error.requiredError.password }}</mat-error
          >
          <mat-error *ngIf="hasError(form, 'password', 'minlength')">
            {{ error.patternError.password }}</mat-error
          >
        </mat-form-field>
        
      </mat-label>

      <div class="button text-center">
        <button type="submit" class="login-btn" mat-raised-button color="primary" [style.cursor]="!form.valid ? 'not-allowed' : 'pointer' " [disabled]="!form.valid">Login</button>
        <button type="submit" class="signup-btn" mat-raised-button color="primary" routerLink="/auth/sign-up">Register</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
