.example-spacer {
  flex: 1 1 auto;
}
.users-list{
    margin-left: 10px;
    cursor: pointer;
    font-size: 20px;
}
.mat-menu-item {
  line-height: 35px;
  height: 35px;
  font-family: 'Montserrat', sans-serif !important;
  font-size: 14px;
  font-weight: 500;
  color: #2857a4;
}
.mat-menu-panel {
  // min-width: 112px;
  max-width: 280px;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  max-height: calc(100vh - 48px);
  border-radius: 4px;
  outline: 0;
  // min-height: 64px;
  
}
.menuHeight{
  height: 175px;
}

.close-button {
  float: right;
}
.btn-ok {
  border-radius: 0;
  height: 54px;
  width: 100% !important;
  background-color: revert;
}
.log {
  margin-top: 27%;
}
.logged {
  padding-left: 30px;
  padding-bottom: 10%;
}
.mat-dialog-container {
  overflow: hidden !important;
}
.mat-dialog-title {
  margin: -25px -25px -26px -26px;
  display: block;
  overflow: unset !important;
  padding: 0 !important;
  height: 20% !important;
}
.blue-gradient{
  background-repeat: no-repeat, repeat;
  background-position: top;
  margin: -26px -24px -24px -24px;
  background-color: #2857a4 !important;
  color: #fff;
}
.model-body{
  width: 350px;
  border-bottom-left-radius: 12px !important;
  border-bottom-right-radius: 12px !important;
  border-radius: 0;
}
.model-logoutimg{
  width: 100%;
  overflow: hidden;
}
.main-logo{
  cursor: pointer;
}