<div class="container tm-mt-big tm-mb-big">
  <div class="row" style="margin-top: -2% !important;">
    <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
      <div class="tm-bg-primary-dark tm-block tm-block-h-auto example-card">
        <div class="row">
          <div class="col-12">
            <h2 class="tm-block-title d-inline-block">Add Product</h2>
          </div>
        </div>

        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-12">
            <form [formGroup]="uploadForm" (ngSubmit)="submit()">
              <div class="form-group mb-3">
                <mat-label>
                  <mat-form-field>
                    <input
                      type="text"
                      matInput
                      placeholder="Product Name"
                      autocomplete="off"
                      formControlName="productName"
                    />
                    <mat-error
                      *ngIf="hasError(uploadForm, 'productName', 'required')"
                      >{{ error.requiredError.productName }}
                    </mat-error>

                    <mat-error
                      *ngIf="hasError(uploadForm, 'productName', 'pattern')"
                      >{{ error.patternError.productName }}
                    </mat-error>
                  </mat-form-field>
                </mat-label>
              </div>

              <div class="form-group mb-3">
                <mat-label>
                  <mat-form-field>
                    <input
                      type="text"
                      matInput
                      placeholder="Product Description"
                      autocomplete="off"
                      formControlName="productDescription"
                    />
                    <mat-error
                      *ngIf="
                        hasError(uploadForm, 'productDescription', 'required')
                      "
                      >{{ error.requiredError.productDescription }}
                    </mat-error>

                    <mat-error
                      *ngIf="
                        hasError(uploadForm, 'productDescription', 'pattern')
                      "
                      >{{ error.patternError.productDescription }}
                    </mat-error>
                  </mat-form-field>
                </mat-label>
              </div>

              <div class="form-group mb-3">
                <mat-label>
                  <mat-form-field>
                    <input
                      type="text"
                      matInput
                      placeholder="Product Rate"
                      autocomplete="off"
                      formControlName="productRate"
                    />
                    <mat-error
                      *ngIf="hasError(uploadForm, 'productRate', 'required')"
                      >{{ error.requiredError.productRate }}
                    </mat-error>

                    <mat-error
                      *ngIf="hasError(uploadForm, 'productRate', 'pattern')"
                      >{{ error.patternError.productRate }}
                    </mat-error>
                  </mat-form-field>
                </mat-label>
              </div>

              <div class="col-12">
                <button
                  type="submit"
                  mat-raised-button
                  color="warn"
                  [style.cursor]="!uploadForm.valid ? 'not-allowed' : 'pointer'"
                  [disabled]="!uploadForm.valid"
                >
                  Add Product Now
                </button>
              </div>
            </form>
          </div>
          <div class="col-xl-6 col-lg-6 col-md-12 mx-auto mb-4">
            <div *ngIf="!imgFile" class="tm-product-img-dummy mx-auto">
              <input type="file" #myInput (change)="onImageChange($event)" />
            </div>
            <div *ngIf="imgFile" class="tm-product-img-dummy mx-auto">
              <img [src]="imgFile" class="image-view"  />
              <!-- style="width: 430px; height: 250px" -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<ng-template #loaderDialog>
  <div class="text-center overlay" *ngIf="isLoader">
    <div class="loader-images">
     <img class="loaderlogo" src="../../assets/images/loader-old.png" />
     <p>Please wait... We are uploading file</p>
    </div>
  </div>
</ng-template>